/* You can add global styles to this file, and also import other style files */
 :root{
    --primaryColor: #146E9A;
 }
 span  {
    color: var(--primaryColor);
}
.fw-light{ 
    font-size: small !important;
}